@using SportStore.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}

@foreach (Product product in Model)
{
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("C0")</h4>
    </div>
}
<h2>List</h2>

